{% extends "shop/layout.html"%}
{%load humanize%}
{% block content %}

<div class="container">
  <div class="row">
    {%for item in item_list%}
    <div class="col-sm-3">
      <div class="card"  style="border:5px solid #eeeeee;">
        {% if item.photo %}
        <img class="card-img-top" style="width:100%" src="{{item.photo.url}}" alt="Card image cap">
        {% endif%}
        <div class="card-body">
          <p class="card-text" style="height:30px">{{item.name}}</p>
          <p class="card-text">{{item.desc}}</p>
          <a href="#" class="btn btn-success btn-block" style="bottom:0px;border-top:10px">{{item.amount|intcomma}}원 구매하기</a>
        </div>
        <br>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a href="?page={{page_obj.previous_page_number}}" class="btn btn-info"><<</a>
        {% else %}
          <a href="#" class="btn btn-info"><<</a>
        {% endif%}

        <!-- {% for i in page_obj.paginator.page_range %}
          <a href="?page={{i}}" class="btn btn-info">{{i}}</a>
        {% endfor%} -->
        {{page_obj.number}}페이지/{{leg}}페이지
        {% if page_obj.has_next %}
          <a href="?page={{page_obj.next_page_number}}" class="btn btn-info">>></a>
          {% else %}
          <a href="#" class="btn btn-info">>></a>
        {% endif %}

      {%endif%}
    </div>
  </div>
</div>

{% endblock%}
